<!DOCTYPE html>
<html>
	<head>
		<title>myMovies Xpress! - Search</title>
		<link rel="stylesheet" type="text/css" href="../css/mySite.css" />
		<script src="./script.js"></script>
	</head>
	<body>
		<h3>Welcome, <?= $_SESSION["displayName"] ?> (<a href="javascript: confirmLogout()">logout</a>)</h3>
		<h1>myMovies Xpress!</h1>
<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE ABOVE THIS LINE -->
		<form action="./search.php" method="post">
			<div>
				<p>Search for a movie using a keyword here!</p>
				<input type="text" name="keyword" id="keyword">
			</div>
			<div>
				<button type="submit">Search</button>
				<input type="button" value="Cancel" onclick="javascript: confirmCancel()"/>
				<button type="reset">Clear</button>
			</div>
		</form>
<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE BELOW THIS LINE -->		
	</body>
</html>